<!DOCTYPE html>
<html>

<head>
    <title>Hello</title>
    <link rel="stylesheet" type="text/css" href="css/welcome.css" />
</head>

<body>
    <title>Gameplay Gurus</title>
    <h1>Welcome To Gameplay Gurus!</h1>
    <p>Have students from around the world playtest your games! Playtest games and provide feedback for your peers!
        Gameplay Guru makes
        it easy for developers everywhere to get the feeback they need!
    </p>
    <form>
    <div class ='div'>
        <p>Don't have an account? Sign up here:</p>
    <a href="signup.html" class="buttons">Signup</a>
    </div>
    <div class='div'>
        <p>Already have an account? login here:</p>
        <a href="login.html" class="buttons">login</a>
    </div>
    </form>
</body>

</html>