<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Box</title>
    <link rel="stylesheet" href="userPost.css">
</head>
<body>
    <h1>Hello + username</h1>
    </div>
    <div class="feedback">
        <textarea type="text" class="title" placeholder="Title and rating of game..."></textarea>
        <textarea type="text" class="article" placeholder="Start review here..."></textarea>
    </div>
    <div class="feedback-options">
        <button class="btn dark publish-btn">publish</button>
    </div>
    
</body>
</html>