body {
    background: dodgerblue linear-gradient(45deg, aqua, dodgerblue, rgb(11, 147, 27)) fixed;

}
#comment-box, #post {
    border: none;
    border-radius: 5px;
}
#post:hover{
    background-color: rgb(102, 255, 20);
}