/*size, color, font of header */
h1{
    font-family: 'Segoe UI';
    text-align: center;
    font-size: 300%;
    color: #0e5300;
  }
/*size, color, font of description*/
p {
    font-family: "Segoe UI";
    font-size: 200%;
    text-align: center;
    color: #0e5300;
}
/*gradient background */
body {
    background: linear-gradient(180deg, #b8fabe 40%, #fbfcdc 60%);
    background-size: cover;
    background-repeat: no-repeat;
}
    html, body {
        margin: 0;
        height: 100%;
    }
    /*div class for border that holds button */
    .div {
        background-color: #f1ffef;
        border-radius: 30px;
        border-style: solid;
        border-color: #097200;
        border-width: 150%;
        color: #52cc62;
        padding: 30px 42px;
        height: 30%;
        width: 30%;
        text-align: top;
        text-decoration: none;
        font-size: 100%;
        position: relative;
        left: 100px;
        top: 40px;
        float: left;
        
        }
/*class for buttons */
.buttons { 
    background-color: #52cc62;
    border-radius: 30px;
    font-family: 'Segoe UI';
    color: rgb(255, 255, 255);
    padding: 20px 32px;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 160px;
    top: 10px;
}  